// Main SCSS file. Gather imports here.
@import 'compass/css3';
@import 'compass/reset';
@import 'pelorus';

// Pelorus variable overrides
$grid-column-width-desktop: 79px;
$grid-column-width-laptop: 60px;
$grid-column-width-tablet: 34px;
$grid-gutter-width: 20px;

// Grid initializer
@include grid-system((
  ($grid-column-width-desktop, $grid-gutter-width, 'desktop'),
  ($grid-column-width-laptop, $grid-gutter-width, 'laptop'),
  ($grid-column-width-tablet, $grid-gutter-width, 'tablet')
));
